WebApplication/WebApplication8/Service References/Service/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/WcfServiceOMG" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfServiceOMG" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:49157/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfd">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="d" nillable="true" type="tns:d" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfd" nillable="true" type="tns:ArrayOfd" />
  <xs:complexType name="d">
    <xs:sequence>
      <xs:element minOccurs="0" name="BirthDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Dear" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="ser:guid" />
      <xs:element minOccurs="0" name="JobTitle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MobilePhone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="d" nillable="true" type="tns:d" />
</xs:schema>